h1{
    text-align: center;
}

.gallery{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-item{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}
.gallery-item:hover .gallery-image{
    transform: scale(1.1);
}
.gallery-item:hover .author{
    opacity: 1;
}
.gallery-item:hover{
    top: -3px;
}
.gallery-image{
    width: 100%;
    display: block;
    transition: 0.3s ease;
}
.author{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    box-sizing: border-box;
    bottom: 0;
    transition: 0.3s ease;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    opacity: 0;
    /* display: none; */
}